.countdown-cont {
  background-color: #09b8edeb;
  padding: 10px;
  text-align: center;
  width: fit-content;
  border-radius: 10px;
  font-weight: 800;
  color: #242a24;
  box-shadow: inset 0 0 3px 3px #fff;
}
