@using cse325_team1.Components.Shared
@using cse325_team1.Components.Pages



<li class="event-item">
    <h4>
        @title
    </h4>
    <Countdown Target="@dateTime" />
    <div>
        <span>@dateTime</span>
        @description
        <span>Location: @location</span>
    </div>
    <button class="btn" @onclick="OnEditClicked">Edit</button>
    <button class="btn">Delete</button>
</li>

@code {
    [Parameter]
    public string title { get; set; }
    [Parameter]
    public DateTime dateTime { get; set;}
    [Parameter]
    public string description { get; set; }
    [Parameter]
    public string location { get; set; }

    [Parameter] public EventCallback OnEdit { get; set; }

    private Task OnEditClicked()
    {
        return OnEdit.InvokeAsync();
    }
    
}