.event-item {
  border: 1px solid #30104f;
  border-radius: 18px;
  padding: 2rem;
  box-shadow: inset 0 0 10px 2px #30104f;
  margin: 5px;
}

.event-display {
  display: flex;
}

/* .btn {
  background-color: #6813b8b9;
  color: #fff;
  padding: 3px;
  width: auto;
  height: 2rem;
  border: 1px solid #30104f;
  border-radius: 10px;
  box-shadow: 1px 2px 4px 2px #838b8deb;
  margin: 10px;
} */

.event-details {
  display: flex;
  flex-direction: column;
}
