@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Routing
@inject cse325_team1.Data.Services.SessionStore Session

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    
    <main>
        <div class="top-row px-4">
            <a href="/profile">Profile</a>
            <a href="/login">Login</a>
            @if (!Session.IsLoggedIn) {
                <a href="/signup">Sign Up</a>
            }
            
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
   
}