@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Routing

<div class="container">
    <div class="header">
        <div class="brand">Journal App</div>
        <div class="nav">
            <NavLink href="/" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink href="/journals">Journals</NavLink>
            <NavLink href="/profile">Profile</NavLink>
            <NavLink href="/login">Login</NavLink>
            <NavLink href="/signup">Sign up</NavLink>
        </div>
    </div>

    @Body
</div>
