.modal {
  padding: 1rem;
  border-bottom: 2px solid #09b8edeb;
  overflow: hidden;
  position: relative;
}

.show {
  display: block;
  max-height: fit-content;
  opacity: 1;
}

.hide {
  display: block;
  max-height: 0;
  padding: 0;
  opacity: 0;
  border: none;
}
