.top-bar {
  border-bottom: 2px solid #09b8edeb;
  padding: 1rem;
}

/* .btn {
  background-color: #6813b8b9;
  color: #fff;
  padding: 3px;
  width: 2rem;
  height: 2rem;
  border: 1px solid #30104f;
  border-radius: 10px;
  box-shadow: 1px 2px 4px 2px #838b8deb;
  margin: 10px;
} */

.events-cont {
  padding: 5px;
  list-style: none;
  margin: 15px;
}

.list-view {
  display: flex;
  flex-direction: column;
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.event-item {
  border: 1px solid #30104f;
  border-radius: 18px;
}

.events-page {
  display: block;
}

.modal-cont {
  display: block;
  height: fit-content;
}
