@using cse325_team1.Components.Shared

@page "/"


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<Event dateTime="@DateTime.Parse("2026-02-13T12:00:00")" title="test" description="testing" location="home" />



Welcome to your new app.

@code {
    
}
